body {
  font-family: Arial;
  text-align: center;
  background: #f5f7fa;
}

.btn {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
